@model RoleAssignSendModel
@{
    Layout = "_Layout";
}

<form asp-action="AssignRole" method="post" class="p-4 mx-auto w-75">
    <input type="hidden" asp-for="@Model.UserId" />
    <ul class="list-group">

        @for (int i = 0; i < Model.Roles.Count; i++)
        {
            <input type="hidden" asp-for="@Model.Roles[i].Name" />
            <input type="hidden" asp-for="@Model.Roles[i].RoleId" />
            <li class="list-group-item">
                <input class="form-check-input me-1" asp-for="@Model.Roles[i].Exist">
                <label class="form-check-label" for="firstCheckbox">
                    @Model.Roles[i].Name
                </label>
            </li>
        }

    </ul>

    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Kaydet</button>
    </div>

    <div class="text-danger mt-2" asp-validation-summary="ModelOnly">
    </div>

</form>