@model UserCreateModel
@{
    Layout = "_Layout";
}

<form asp-action="Create" method="post" class="p-4 mx-auto w-75 shadow">

    <div class="mb-3">
        <label>Kullanıcı Adı:</label>
        <span class="text-danger" asp-validation-for="@Model.Username"></span>
        <input asp-for="@Model.Username" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Email:</label>
        <span class="text-danger" asp-validation-for="@Model.Email"></span>
        <input asp-for="@Model.Email" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Cinsiyet:</label>
        <span class="text-danger" asp-validation-for="@Model.Gender"></span>
        <input asp-for="@Model.Gender" class="form-control" />
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Ekle</button>
    </div>

    <div class="text-danger mt-2" asp-validation-summary="ModelOnly">
</div>

</form>