@model SessionIdDto

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    if (TempData["ResponseMessage"] != null)
    {
        <div class="bg-primary text-white text-center lead">
            @TempData["ResponseMessage"]
        </div>
    }
}

@section Links{
<link rel="stylesheet" type="text/css" href="~/assets/css/ProcessCard.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@fancyapps/ui@4.0/dist/fancybox.css" />
<link rel="stylesheet" type="text/css" href="~/assets/css/zoom.css">
@* <link rel="stylesheet" href="~/node_modules/@@fancyapps/ui/dist/fancybox.css" type="text/css" media="screen" /> *@

<style>
    .modal-backdrop {
        z-index: -1;
    }

    .modal {
        top: 5%;
    }
</style>
}


<!-- AddProcessModal -->
<div id="modal_form_vertical" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Atış Ekleme</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <ul class="nav nav-tabs nav-justified">
                <li class="nav-item"><a href="#basic-justified-tab1" class="nav-link active" data-toggle="tab">Normal
                        Atış Ekle</a></li>
                <li class="nav-item"><a href="#basic-justified-tab2" class="nav-link" data-toggle="tab">Özelleştir</a>
                </li>

                <div class="tab-content">
                    <div class="tab-pane fade show active" id="basic-justified-tab1">

                        <form asp-action="Create" asp-controller="Process" method="post">
                            <input type="hidden" value="@Model.SessionId" name="SessionId" />
                            <div class="modal-body">
                                <div class="form-group">
                                    <div class="row">
                                        <input name="Override" value="0" class="form-check-input" type="hidden">
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-link" data-dismiss="modal">Kapat</button>
                                <div class="row">
                                    <button type="submit" class="btn btn-primary">Atış Ekle<i class="icon-paperplane ml-2"></i></button>
                                </div>
                            </div>
                        </form>

                    </div>

                    <div class="tab-pane fade" id="basic-justified-tab2">

                        <form asp-action="Create" asp-controller="Process" method="post">
                            <input type="hidden" value="@Model.SessionId" name="SessionId" />
                            <div class="modal-body">
                                <div class="form-group">
                                    <div class="row">

                                        <div class="form-group">
                                            <label>Video/Stream Seçiniz:</label>
                                            @(await Component.InvokeAsync("SelectListFromTable",
                                            new{tableName="Stream"} ))
                                        </div>

                                        <div class="form-group">
                                            <label>Limit (İşlenecek Frame Sayısı):</label>
                                            <input class="input-group-text" type="number" name="Limit" value="-1"></input>
                                        </div>

                                        <input name="Override" value="1" class="form-check-input" type="hidden">

                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-link" data-dismiss="modal">Kapat</button>
                                <div class="row">
                                    <button type="submit" class="btn btn-primary">Atış Ekle<i class="icon-paperplane ml-2"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
        </div>
    </div>
</div>

<!-- AddProcessButton -->
<div>
    <td>
        <button type="button" class="btn btn-light" data-toggle="modal" data-target="#modal_form_vertical">
            Atış Ekle <i class="icon-play3 ml-2"></i>
        </button>
    </td>

    <!-- #SESSION PROCESSES -->
    @(await Component.InvokeAsync("ProcessListCard", new{sessionId=@Model.SessionId} ))
</div>

@section Scripts{
<script src="~/global_assets/js/demo_pages/components_modals.js"></script>
<script src="~/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


<!--Detail Modal-->
<script>
    var detailModal = document.getElementById('detailModal');
    detailModal.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        var button = event.relatedTarget

        // Extract info from data-bs-* attributes
        var raw = button.getAttribute('data-bs-whatever')
        data = JSON.parse(raw)
        console.log(raw)

        var modalTitle = detailModal.querySelector('.modal-title')
        modalTitle.textContent = 'Details: ' + data["process"]["id"]

        var court_score = detailModal.querySelector("#court_score")
        if(data["processResponse"]["score"]!=null){
            court_score.innerHTML = "Puan: " + data["processResponse"]["score"]
        }else{
            court_score.innerHTML = "Puan: " + "Hesaplanamadı."
        }
        
        var court_description = detailModal.querySelector("#court_description")
        court_description.innerHTML = data["processResponse"]["description"]

        var court_sourceName = detailModal.querySelector("#court_sourceName")
        court_sourceName.innerHTML = data["stream"]["name"]

        var court_sourceUrl = detailModal.querySelector("#court_sourceUrl")
        court_sourceUrl.innerHTML = data["stream"]["source"]

        var court_isVideo = detailModal.querySelector("#court_isVideo")
        if (data["stream"]["is_video"]) {
            court_isVideo.innerHTML = "Videodan Alındı."
        } else {
            court_isVideo.innerHTML = "Kameradan Alındı."
        }

        var imgbase64 = "data:image/png;base64, " + data["processResponse"]["canvas"]
        @* var court_image = detailModal.querySelector("#court_image") *@
        var court_image_gallery = detailModal.querySelector("#court_image_gallery")
        @* court_image.src = imgbase64 *@
        court_image_gallery.setAttribute('data-src', imgbase64);

        var image = detailModal.querySelector("#court_image")
        image.style = "background-image:url('"+ imgbase64 +"');"

    });
</script>

<!--Detail Canvas Effect-->
<script>
    $(".wrapper_zoom:not(.open)").on("mousemove", function (e) {
        var target = $(this);
        var targetoffset = target.offset();

        var blockwidth = target.width();
        var blockheight = target.outerHeight();

        var x = Math.round((e.pageX - targetoffset.left) - blockwidth / 2);
        var y = Math.round((e.pageY - targetoffset.top) - blockheight / 2);

        target.css({ "transform": 'translate(-50%, -50%) perspective(1000px) rotateY(' + x * 0.075 + 'deg)' + 'rotateX(' + y * 0.075 + 'deg) scale(1.1)' });
    })

    $(".wrapper_zoom:not(.open)").on("mouseleave", function (e) {
        $(this).css({ "transform": 'translate(-50%, -50%) perspective(1000px) rotateY(0deg)' + 'rotateX(0deg) scale(.9)' });
    })

</script>

<!--Fancybox-->
<script src="https://cdn.jsdelivr.net/npm/@@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
<script>
    Fancybox.bind("[data-fancybox='gallery']", {
        infinite: false,
        Image: {
            Panzoom: {
            zoomFriction: 0.7,
            maxScale: function () {
                return 5;
      },
    },
  },
});
</script>

<!--Scroll Block-->
@* <script>
    var modal_scroll_disabled = document.getElementById("modal_scroll_disabled");
    var disable_scroll = document.getElementById("detailModal");

    modal_scroll_disabled.onmouseover = function () {
        document.body.style.overflowY = "hidden";
        disable_scroll.style.overflowY = "hidden";
    };
    modal_scroll_disabled.onmouseout = function () {
        document.body.style.overflowY = "auto";
        disable_scroll.style.overflowY = "auto";
    };
</script> *@

}