@model StreamCreateDto

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    if (TempData["ResponseMessage"] != null)
    {
        <div class="bg-primary text-white text-center lead">
            @TempData["ResponseMessage"]
        </div>
    }
}


@section Links{
<link rel="stylesheet" href="~/assets/css/input.css">
}

<div class="card">
    <div class="card-header">
        <h5 class="card-title">Video Yükle</h5>
    </div>

    <div class="card-body">
        <form asp-action="Create" method="post" enctype="multipart/form-data">

            <div class="form-group">
                <label>Stream/Video Adı:</label>
                <input asp-for="@Model.Name" class="form-control" placeholder="Video Adı">
            </div>

            <div class="form-group">
                <label>Stream/Video: </label>
                <div class="row">
                    <div class="col-4 form-check">
                        @Html.Label("Stream","Stream(Akış, Kamera): ")
                        @Html.RadioButtonFor(model=> model.IsVideo, false, new { @id="Stream", @checked="checked", @onchange = "selectedInfo(false);"})
                    </div>
                    <div class="col-4 form-check">
                        @Html.Label("Video","Video: ")
                        @Html.RadioButtonFor(model=> model.IsVideo, true, new { @id="Video", @checked="checked", @onchange = "selectedInfo(true);"})
                    </div>
                </div>
            </div>

            <div id="adUrl"  class="form-group">
                <label>URL:</label>
                <input asp-for="@Model.Source" class="form-control" placeholder="Stream URL">
            </div>

            <div id="adFile" style="display:none" class="form-group">
                <label>Dosya:</label>
                <div class="input-group custom-file-button">
                    <label class="input-group-text" for="inputGroupFile">Dosya Seçiniz:</label>
                    <input name="formFile" type="file" class="form-control" id="inputGroupFile">
                </div>
                <span class="form-text text-muted">Video Formatı: ".mp4"</span>
            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Kaydet<i class="icon-paperplane ml-2"></i></button>
            </div>
        </form>
    </div>
</div>

@section Scripts{
<script src="~/limitless/global_assets/js/plugins/forms/selects/select2.min.js"></script>
<script src="~/limitless/global_assets/js/demo_pages/form_layouts.js"></script>

<script>
    function selectedInfo(val){
        file = document.getElementById("adFile")
        url = document.getElementById("adUrl")
        if (val){
            file.style.display = 'block';
            url.style.display = 'none';
        }else{
            file.style.display = 'none';
            url.style.display = 'block';
        }
    }
</script>
}