@model StreamListDto

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    if (TempData["Upload_Message"] != null)
    {
        <div class="bg-primary text-white text-center lead">
            @TempData["Upload_Message"]
        </div>
    }
}

<!-- Basic layout-->
<div class="card">
    <div class="card-header">
        <h5 class="card-title">Video/Stream Detaylar覺</h5>
    </div>

    <div class="card-body">


        <input type="hidden" asp-for="@Model.Id"></input>

        <div class="form-group">
            <label>Video Ad覺:</label>
            <input asp-for="@Model.Name" type="text" class="form-control" disabled>
        </div>

        <div class="form-group">
            <label>Kaynak:</label>
            <input asp-for="@Model.Source" type="text" class="form-control" disabled>
        </div>

        <div class="form-group">
            <label>Kafka Topic Ad覺: </label>
            <input asp-for="@Model.KafkaTopicName" type="text" class="form-control" disabled>
        </div>

        <div class="form-group">
            <label>Kay覺t Tarihi: </label>
            <input asp-for="@Model.SaveDate" type="text" class="form-control" disabled>
        </div>


        <form asp-action="DetectCourtLines" asp-controller="Tennis" method="post">

            <div class="row">
                <div class="row">
                    <input type="hidden" name="Id" value="@Model.Id"></input>

                    <div class="form-check">
                        <input name="Force" class="form-check-input" type="checkbox">

                        <label class="form-check-label" for="defaultCheck1">Force</label>
                    </div>

                    <button type="submit" class="btn btn-primary">DetectCourtLines<i
                            class="icon-paperplane ml-2"></i></button>
                </div>
            </div>

        </form>

    </div>
</div>
<!-- /basic layout -->


@section Scripts{
<script src="~/limitless/global_assets/js/plugins/forms/selects/select2.min.js"></script>
<script src="~/limitless/global_assets/js/demo_pages/form_layouts.js"></script>
}