@model List<WebApiConsumer.ResponseModels.ProductResponseModel>

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>WebAPIConsumer</title>
</head>

<body>

	<a asp-action="Create" asp-controller="Home">Yeni Ürün Ekle</a>

	<table>
		<tr>
			<th>Ürün Adı</th>
			<th>Fiyat</th>
			<th>Stok</th>
			<th></th>
		</tr>
		@{

			if (Model != null)

				foreach (var product in Model)
				{
					<tr>
						<td>@product.Name</td>
						<td>@product.Price</td>
						<td>@product.Stock</td>
						<td>
							<a asp-action="Update" asp-controller="Home" asp-route-id="@product.Id">Güncelle</a>
							<a asp-action="Remove" asp-controller="Home" asp-route-id="@product.Id">Sil</a>

						</td>
					</tr>
				}
		}
	</table>




	<p>@ViewBag.ResponseMessage</p>
</body>

</html>