@model WebApiConsumer.ResponseModels.ProductResponseModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yeni Ürün Ekle</title>
</head>

<body>

    @{
        if (TempData["errorMessage"]!=null){
            <p style="color:red">
                @TempData["errorMessage"]?.ToString()
            </p>
        }
    }

    <h1>Ürün Güncelle</h1>
    <form asp-action="Update" asp-controller="Home" method="post">
        <input type="hidden" asp-for="@Model.Id"/>
        <label>Ürün Adı: </label>
        <input type="text" asp-for="@Model.Name" />
        <br />
        <hr />
        <label>Ürün Fiyatı: </label>
        <input asp-for="@Model.Price" />
        <br />
        <hr />
        <label>Ürün Stoğu: </label>
        <input asp-for="@Model.Stock" />
        <br />
        <hr />

        <div>
            <a asp-action="Index" asp-controller="Home">Geri Dön</a>
            <button type="submit">Gönder</button>
        </div>
    </form>
</body>

</html>