@model List<PlayingDatumListDto>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="container my-2">

        @* <div class="text-end my-2">
        </div> *@

        <table class="table table-hover table-bordered table-sm">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Score</th>
                    <th>Player Name</th>
                    <th>AOS Type</th>
                    <th>Court</th>
                    <th>SaveDate</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Score</td>
                        <td>@item.PlayerName</td>
                        <td>@item.AosTypeName</td>
                        <td>@item.CourtName</td>
                        <td>@item.SaveDate</td>
                        <td>
                            <a asp-action="Update" asp-controller="Home" asp-route-id="@item.Id"
                            class="btn btn-warning btn-sm">Güncelle</a>
                        </td>
                        <td>
                            <a asp-action="Remove" asp-controller="Home" asp-route-id="@item.Id"
                            class="btn btn-danger btn-sm">Sil</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
