@model List<StreamListDto>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Links{
<style>
    .radial-gradient {
        background-image: radial-gradient(farthest-corner at 40px 40px, #f35 0%, #43e 100%);
    }

    .dataTables_scroll .dataTables_scrollBody {
        max-height: 100% !important;
        height: 100% !important;
    }
</style>
}


<body class="radial-gradient">

    <!-- Scrollable datatable -->
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Stream List</h5>
        </div>

        <table class="table datatable-scroll-y " width="100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Source</th>
                    <th>CourtLineArray</th>
                    <th>KafkaTopicName</th>
                    <th>SaveDate</th>
                    <th>IsActivated</th>
                    <th>Actions</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.Source</td>
                        <td>@item.CourtLineArray</td>
                        <td>@item.KafkaTopicName</td>
                        <td>@item.SaveDate</td>
                        <td><span class="badge badge-success">@(item.IsActivated ? 1 : 0)</span></td>


                        <td class="text-center">
                            <div class="list-icons">
                                <div class="dropdown">

                                    <a href="#" class="list-icons-item" data-toggle="dropdown">
                                        <i class="icon-menu9"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">

                                        <a asp-action="Update" asp-controller="Home" asp-route-id="@item.Id"
                                        class="btn btn-warning btn-sm dropdown-item">Güncelle</a>

                                        <a asp-action="Remove" asp-controller="Home" asp-route-id="@item.Id"
                                        class="btn btn-danger btn-sm dropdown-item">Sil</a>

                                        <a asp-action="DetectCourtLines" asp-controller="Home" asp-route-id="@item.Id"
                                        class="btn btn-success btn-sm dropdown-item">Detect Court Lines</a>


                                    </div>
                                </div>
                            </div>
                        </td>

                    </tr>
                }

            </tbody>
        </table>
    </div>
    <!-- /scrollable datatable -->

</body>

@section Scripts{
<script src="~/limitless/global_assets/js/plugins/tables/datatables/datatables.min.js"></script>
<script src="~/limitless/global_assets/js/demo_pages/datatables_basic.js"></script>
}