@model List<PlayingDatumRelatedListDto>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Links{
<style>
    .radial-gradient {
        background-image: radial-gradient(farthest-corner at 40px 40px, #f35 0%, #43e 100%);
    }

    .dataTables_scroll .dataTables_scrollBody {
        max-height: 100% !important;
        height: 100% !important;
    }
</style>
}



<!-- Scrollable datatable -->
<div class="card">
    <div class="card-header">
        <h5 class="card-title">Playing Datum</h5>
    </div>

    <table class="table datatable-scroll-y " width="100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Puan</th>
                <th>Oyuncu</th>
                <th>AOS Türü</th>
                <th>Saha</th>
                <th>Kayıt Tarihi</th>
                <th>İşlemler</th>
                <th>Diğer</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Score</td>
                    <td>
                        @item.PlayerName
                        @* <getPlayerInfo player-id="@item.PlayerId"></getPlayerInfo> *@
                    </td>
                    <td>
                        @item.AosTypeName
                        @* <getAosTypeInfo aos-type-id="@item.AosTypeId"></getAosTypeInfo> *@
                    </td>
                    <td>
                        @item.CourtName
                        @* <getCourtInfo court-id="@item.CourtId"></getCourtInfo> *@
                    </td>

                    <td>@item.SaveDate</td>
                    <td>
                        <a asp-action="Remove" asp-controller="PlayingDatum" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Sil</a>
                        <a asp-action="Detail" asp-controller="PlayingDatum" asp-route-id="@item.Id" class="btn btn-success btn-sm">Detay</a>
                    </td>

                    <td class="text-center">
                        <div class="list-icons">
                            <div class="dropdown">

                                <a href="#" class="list-icons-item" data-toggle="dropdown">
                                    <i class="icon-menu9"></i>
                                </a>

                                <div class="dropdown-menu dropdown-menu-right">

                                    <a class="btn btn-danger btn-sm dropdown-item">Yakında...</a>

                                </div>
                            </div>
                        </div>
                    </td>



                </tr>
            }

        </tbody>
    </table>
</div>
<!-- /scrollable datatable -->


@section Scripts{
<script src="~/limitless/global_assets/js/plugins/tables/datatables/datatables.min.js"></script>
<script src="~/limitless/global_assets/js/demo_pages/datatables_basic.js"></script>
}