@model List<PlayingDatumRelatedListDto>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Links{
<style>
    .radial-gradient {
        background-image: radial-gradient(farthest-corner at 40px 40px, #f35 0%, #43e 100%);
    }

    .dataTables_scroll .dataTables_scrollBody {
        max-height: 100% !important;
        height: 100% !important;
    }
</style>
}

<body class="radial-gradient">

    <!-- Scrollable datatable -->
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Playing Datum</h5>
        </div>

        <table class="table datatable-scroll-y " width="100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Score</th>
                    <th>Player Name</th>
                    <th>AOS Type</th>
                    <th>Court</th>
                    <th>SaveDate</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Score</td>
                        <td>@item.PlayerName</td>
                        <td>@item.AosTypeName</td>
                        <td>@item.CourtName</td>
                        <td>@item.SaveDate</td>
                        <td>
                            <a asp-action="Remove" asp-controller="Home" asp-route-id="@item.Id"
                            class="btn btn-danger btn-sm">Sil</a>
                        </td>

                        <td class="text-center">
                            <a asp-action="PlayingDatumDetail" asp-controller="Home" asp-route-id="@item.Id"
                            class="btn btn-warning btn-sm dropdown-item">Ayrıntıya Git</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    <!-- /scrollable datatable -->

</body>

@section Scripts{
<script src="~/limitless/global_assets/js/plugins/tables/datatables/datatables.min.js"></script>
<script src="~/limitless/global_assets/js/demo_pages/datatables_basic.js"></script>
}