@model IPagedList<UserRoleDto>

@{
    Layout = "_AdminLayout";
    ViewBag.Title = "Haber Listesi";
}

@section Head {
    <link rel="stylesheet" type="text/css" href="~/cork/src/plugins/src/table/datatable/datatables.css">
    <link rel="stylesheet" type="text/css" href="~/cork/src/plugins/css/light/table/datatable/dt-global_style.css">
    <link rel="stylesheet" type="text/css" href="~/cork/src/plugins/css/light/table/datatable/custom_dt_custom.css">
    <link rel="stylesheet" type="text/css" href="~/cork/src/plugins/css/dark/table/datatable/dt-global_style.css">
    <link rel="stylesheet" type="text/css" href="~/cork/src/plugins/css/dark/table/datatable/custom_dt_custom.css">

    <link href="~/cork/src/plugins/src/animate/animate.css" rel="stylesheet" type="text/css" />
    <link href="~/cork/src/assets/css/light/scrollspyNav.css" rel="stylesheet" type="text/css" />
    <link href="~/cork/src/assets/css/light/components/carousel.css" rel="stylesheet" type="text/css">
    <link href="~/cork/src/assets/css/light/components/modal.css" rel="stylesheet" type="text/css" />
    <link href="~/cork/src/assets/css/light/components/tabs.css" rel="stylesheet" type="text/css">
    <link href="~/cork/src/assets/css/dark/scrollspyNav.css" rel="stylesheet" type="text/css" />
    <link href="~/cork/src/assets/css/dark/components/carousel.css" rel="stylesheet" type="text/css">
    <link href="~/cork/src/assets/css/dark/components/modal.css" rel="stylesheet" type="text/css" />
    <link href="~/cork/src/assets/css/dark/components/tabs.css" rel="stylesheet" type="text/css">


    <link href="~/cork/src/assets/css/light/elements/custom-pagination.css" rel="stylesheet" type="text/css" />
    <link href="~/cork/src/assets/css/dark/elements/custom-pagination.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" type="text/css" href="~/cork/src/assets/css/light/elements/alert.css">
    <link rel="stylesheet" type="text/css" href="~/cork/src/assets/css/dark/elements/alert.css">
}


@* Alert *@
<div class='alert alert-icon-left alert-light-warning alert-dismissible fade show mb-4' role='alert'>
    <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-alert-triangle'>
        <path d='M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z'></path>
        <line x1='12' y1='9' x2='12' y2='13'></line>
        <line x1='12' y1='17' x2='12' y2='17'></line>
    </svg>
    <h5>
        <b>
            <RoleInfo id=@ViewData["ManagingRoleId"] />
        </b> rolünü yönetiyorsunuz.
    </h5>
</div>

@* Search News *@
<form asp-action="AssignedRoleList" asp-controller="UserRoleManagement" asp-route-id=@ViewData["ManagingRoleId"] method="post" autocomplete="off">
    <div class="search-input-group-style input-group mb-3">
        <span class="input-group-text" id="basic-addon1"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search">
                <circle cx="11" cy="11" r="8"></circle>
                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
            </svg></span>
        <span asp-validation-summary="All" class="text-danger"></span>
        <input pattern="^[a-zA-Z0-9ğüşıöçĞÜŞİÖÇ]+$" size="50" value='@ViewData["Search"]' name="search.Query" type="text" class="form-control" placeholder="Kullanıcı Ara" aria-label="News" aria-describedby="basic-addon1">
        <button type="submit" class="btn btn-secondary">Ara</button>
    </div>
</form>

@* Data Table *@
<form id="dataTableForm" method="post" autocomplete="off">
    <div class="row layout-spacing">

        @* MODAL *@
        <div id="actionModal" class="modal animated zoomInUp custo-zoomInUp" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Rol atamasını kaldırmak istediğinize emin misiniz?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                                <line x1="18" y1="6" x2="6" y2="18"></line>
                                <line x1="6" y1="6" x2="18" y2="18"></line>
                            </svg>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="modal-text"> Kullanıcı artık bu role sahip olmayacak </p>
                    </div>
                    <div class="modal-footer md-button">
                        <a class="btn btn-light-dark" data-bs-dismiss="modal">İptal Et</a>
                        <a id="approveButton" href="#"><button type="button" class="btn btn-primary">Onayla</button></a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-12">
            <div class="statbox widget box box-shadow">
                <div class="widget-content widget-content-area">
                    <table id="style-3" class="table style-3 dt-table-hover">
                        <thead>
                            <tr>
                                <th class="checkbox-column text-center"> Kullanıcı Adı </th>
                                @* <th class="text-center">İsim</th> *@
                                <th class="text-center">Resim</th>
                                <th class="text-center">Aktiflik</th>
                                <th class="text-center dt-no-sorting">İşlem</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-center"> @item.UserName </td>
                                    @* <td class="text-center"> @item.Name </td> *@
                                    <td class="text-center">
                                        <span>
                                            @if (item.Image != null && item.Image != "")
                                            {
                                                <img src="~/@item.Image" class="profile-img" alt="avatar">
                                            }
                                            else
                                            {
                                                <img src="~/@ImageDefaults.NoImage" class="profile-img" alt="avatar">
                                            }
                                        </span>
                                    </td>

                                    <td class="text-center">
                                        @if (@item.Active)
                                        {
                                            <span class='badge badge-success'>✓</span>
                                        }
                                        else
                                        {
                                            <span class='badge badge-danger'>x</span>
                                        }
                                    </td>

                                    <td class="text-center">

                                        <ul class="table-controls">

                                            @* <li>
                                        <!-- Detail Button -->
                                        <a class="col-auto px-1 m-1 btn btn-outline-secondary" asp-action="Detail" asp-route-id="@item.Id" draggable="false">
                                        <div class="icon-container">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-heading" viewBox="0 0 16 16">
                                        <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
                                        <path d="M3 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0-5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-1z" />
                                        </svg><span class="icon-name"></span>

                                        </div>
                                        </a>
                                        </li> *@

                                            <li>
                                                @* Remove Button *@
                                                <a type="button" class="col-auto px-1 m-1 btn btn-outline-danger" asp-controller="UserRoleManagement" asp-action="RemoveAssignedRole" asp-route-UserId="@item.UserId" asp-route-RoleId=@ViewData["ManagingRoleId"] asp-route-RoleName=@ViewData["ManagingRoleName"] data-bs-toggle="modal" data-bs-target="#actionModal" draggable="false">
                                                    <div class="icon-container">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-x">
                                                            <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                                            <circle cx="8.5" cy="7" r="4"></circle>
                                                            <line x1="18" y1="8" x2="23" y2="13"></line>
                                                            <line x1="23" y1="8" x2="18" y2="13"></line>
                                                        </svg>
                                                        <span class="icon-name"></span>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>


@* Pagination Bar *@
<div class="col-12 col-sm-6 d-flex justify-content-sm-end justify-content-center mt-sm-0 mt-3">
    @Html.PagedListPager(Model, page => Url.Action("AssignedRoleList", new { page, id=ViewData["ManagingRoleId"], query=ViewData["Search"] }), new PagedListRenderOptions {
    LiElementClasses = new string[] { "page-item" },
    PageClasses = new string[] { "page-link" },
    DisplayLinkToFirstPage = PagedListDisplayMode.Never,
    DisplayLinkToLastPage = PagedListDisplayMode.Never,
    DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
    DisplayLinkToNextPage = PagedListDisplayMode.Always,
    MaximumPageNumbersToDisplay = 5
    })
</div>


@section Script{
    <script src="~/cork/src/plugins/src/table/datatable/datatables.js"></script>
    <script src="~/asset/js/AddButtonToDatatableExtension.js"></script>

    @* Modal *@
    @* <script src="~/asset/js/CustomModal.js"></script> *@
    <script>
        // Event Listener : "show.bs.modal"
        const actionModal = document.getElementById('actionModal');
        actionModal.addEventListener('show.bs.modal', event => {
            //! Modal'ı tetikleyen button'u al
            const button = event.relatedTarget;

            //! Modal'ın butonunu güncelle
            const approveButton = actionModal.querySelector('#approveButton');
            approveButton.removeChild(approveButton.firstChild);
            var cloneButton = button.cloneNode(true);
            cloneButton.setAttribute("id", "approveButton")
            cloneButton.removeAttribute("data-bs-target");
            cloneButton.removeAttribute("data-bs-toggle");
            if (!cloneButton.hasAttribute("href")) {
                cloneButton.type = "post";
            }
            approveButton.replaceWith(cloneButton);
        });
    </script>


    @* Data Table *@
    <script>
        c3 = $('#style-3').DataTable({
            "dom": "<'dt--top-section'<'row'<'col-6 d-flex justify-content-sm-end justify-content-center mt-sm-0 mt-3'f>>>" +
                "<'table-responsive'tr>",
        @* + "<'dt--bottom-section d-sm-flex justify-content-sm-between text-center'<'dt--pages-count  mb-sm-0 mb-3'i><'dt--pagination'p>>", *@
            "oLanguage": {
            "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
            "sInfo": "Gösterilen sayfa _PAGE_ of _PAGES_",
            "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
            "sSearchPlaceholder": "Sayfada ara",
            "sLengthMenu": "Sonuçlar :  _MENU_",
        },
            "stripeClasses": [],
            "lengthMenu": [],
            "pageLength": 1000
                                                    });

        multiCheck(c3);

        AddButtonToDataTable("Kullanıcı Ata", "/UserRoleManagement/RoleAssignmentList/@ViewData["ManagingRoleId"]")

    </script>


    @* Breadcrumb *@
    <script>
        ChangeBreadcrumb({
            primaryName: "Rol Listesi",
            primaryLink: "/Role/List",
            secondaryName: "Rol Yönetimi"
        });
    </script>
}