@model List<ProcessListRelatedDto>

<style>
    .card img {
        width: 100%;
    }

    .card {
        background-color: #1c183c7d;
        border-radius: 20px;
    }

    svg {
        display: initial;
    }

    .image-fit {
        object-fit: contain;
        max-width: 100%;
        max-height: 100%;
    }
</style>

<!-- DetailModal -->
<div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="detailModalLabel">ID</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <div class="mb-3" id="modal_scroll_disabled">

                    <section>
                        <div class="wrapper_zoom">
                            <a id="court_image_gallery" data-fancybox="gallery" data-src="">
                                <div id="court_image" class="image-container" style="">
                                    <div class="title">
                                        <span id="court_score" style="color:red;"></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </section>

                    @* <a class="hidden" data-fancybox="gallery" href=""></a> *@
                </div>


                <div class="mb-3">
                    <label for="court_description" class="col-form-label">Açıklama:</label>
                    <textarea class="form-control" id="court_description"></textarea>
                </div>

                <div class="mb-3">
                    <label for="court_sourceName" class="col-form-label">Kaynak Adı:</label>
                    <textarea class="form-control" id="court_sourceName"></textarea>
                </div>

                <div class="mb-3">
                    <label for="court_sourceUrl" class="col-form-label">Kaynak Url:</label>
                    <textarea class="form-control" id="court_sourceUrl"></textarea>
                </div>

                <div class="mb-3">
                    <label for="court_isVideo" class="col-form-label">Video mu?:</label>
                    <textarea class="form-control" id="court_isVideo"></textarea>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
            </div>

        </div>
    </div>
</div>


<div class="cards">

    <h6 class="pen-title">
        Atışlar
    </h6>

    @foreach (var item in Model)
    {
        <div class="card">
            <input id="userInput" type="hidden" value="default">

            @{
                var processVal = JsonSerializer.Serialize<ProcessListDto>(item.Process).ToString();
            }
            <input id="dataInput" type="hidden" value="@processVal">
            <div class="card-content">
                <div class="top">
                    <h4 class="name">@item.Process.Name</h4>
                    <div class="date"><span>"@item.Process.SaveDate"</span></div>
                </div>

                <div class="bottom">
                    @if (!item.Stream.IsVideo)
                    {
                        <a asp-action="StartProcess" asp-controller="Process" asp-route-id="@item.Process.Id" asp-route-sessionId="@item.Process.SessionId" class="btn btn-success btn-sm">Başlat</a>
                        <button class="btn btn-warning btn-sm" id="testButton"></button>
                        <a asp-action="StopProcess" asp-controller="Process" asp-route-id="@item.Process.Id" asp-route-sessionId="@item.Process.SessionId" class="btn btn-danger btn-sm">Durdur</a>
                    }
                </div>

                <div class="bottom">
                    @if ((bool)item.Process.IsCompleted)
                    {
                        <a class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#detailModal" data-bs-whatever="@Json.Serialize(item).ToString()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-data" viewBox="0 0 16 16">
                                <path d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z" />
                                <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
                                <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
                            </svg>
                            Detay
                        </a>
                    }
                    else if (!(bool)item.Process.IsCompleted)
                    {
                        <h4>İşleniyor...</h4>
                        <i class="icon-spinner2 spinner"></i>
                    }
                    else
                    {
                        <h4>Durum Bilinmiyor</h4>
                    }
                    <a asp-action="Remove" asp-controller="Process" asp-route-id="@item.Process.Id" asp-route-sessionId="@item.Process.SessionId" class="btn btn-danger btn-sm">Sil</a>
                </div>

            </div>

            @* @{
                if (item.ProcessResponse.Canvas == null)
                {
                <div class="card-bg">
                <img class="bg-img" src="https://cdn.stocksnap.io/img-thumbs/960w/SKI2T9YF2P.jpg" />
                </div>
                <div class="shadow">
                <img class="bg-img" src="https://cdn.stocksnap.io/img-thumbs/960w/SKI2T9YF2P.jpg" />
                </div>
                }
                else
                {
                <div class="card-bg">
                <img class="bg-img" src="data:image/png;base64, @item.ProcessResponse.Canvas" />
                </div>

                <div class="shadow">
                <img class="bg-img" src="data:image/png;base64, @item.ProcessResponse.Canvas" />
                </div>
                }
                } *@

            <div class="card-bg">
                <img id="deliverFrame" class="bg-img" src="" />
            </div>
            <div class="shadow">
                <img class="bg-img" src="" />
            </div>
        </div>
    }

</div>