@* @model List<Customer>
    @{
    Layout = "~/Views/Shared/_Layout.cshtml";
    }
    @{
    List<string> names = new() { "Burakhan" };
    }
    @foreach (var item in names)
    {
    <p> @item</p>
    }
    yeni: @ViewBag.isim *@


@model List<Customer>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Costumer List</h4>

<paragraph short-description="...Açıklamalar..."></paragraph>

<div class="row">
    <div class="col-4">
        <partial name="_NewsPartial" model="NewsContext.List"/>
    </div>
    <div class="col-8">

        <a asp-controller="Home" asp-action="Create">Create</a>
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>First</th>
                    <th>LastName</th>
                    <th>Age</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.Age</td>
                        <td>
                            <a asp-controller="Home" asp-action="Update" asp-route-id="@item.Id">Update</a>
                            <a asp-controller="Home" asp-action="Remove" asp-route-id="@item.Id">Remove</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
