@model List<PlayerListDto>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Links{
<style>
    .radial-gradient {
        background-image: radial-gradient(farthest-corner at 40px 40px, #f35 0%, #43e 100%);
    }

    .dataTables_scroll .dataTables_scrollBody {
        max-height: 100% !important;
        height: 100% !important;
    }

    .card {
        border-radius: 20px;
        margin-bottom: 0px;
    }
</style>
}

<body class="radial-gradient">

    <!-- Scrollable datatable -->
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Oyuncu Listesi</h5>
        </div>

        <div class="card-body">

            <td class="text-center">
                <a asp-action="Create" asp-controller="Player" class="btn btn-success btn-sm">Ekle</a>
            </td>

        </div>

        <table class="table datatable-scroll-y " width="100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Oyuncu Adı</th>
                    <th>Cinsiyet</th>
                    <th>Doğum Günü</th>
                    <th>Kayıt Tarihi</th>
                    <th>İşlemler</th>
                    <th>Diğer</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@(item.GenderId==(long)1 ? "Erkek" : item.GenderId==(long)2 ? "Kadın" : "Belirtilmedi")</td>
                        <td>@item.Birthday</td>
                        <td>@item.SaveDate</td>
                        <td>
                            <a asp-action="Remove" asp-controller="Player" asp-route-id="@item.Id"
                            class="btn btn-danger btn-sm">Sil</a>

                            <a asp-action="Detail" asp-controller="Player" asp-route-id="@item.Id"
                            class="btn btn-success btn-sm">Detay</a>
                        </td>

                        <td class="text-center">
                            <div class="list-icons">
                                <div class="dropdown">

                                    <a href="#" class="list-icons-item" data-toggle="dropdown">
                                        <i class="icon-menu9"></i>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right">

                                        <a class="btn btn-danger btn-sm dropdown-item">Yakında...</a>

                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    <!-- /scrollable datatable -->

</body>

@section Scripts{
<script src="~/limitless/global_assets/js/plugins/tables/datatables/datatables.min.js"></script>
<script src="~/limitless/global_assets/js/demo_pages/datatables_basic.js"></script>
}